{% extends "students/student/base.html" %}
{% block content %}
<body id="bbd">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h3>แผนการเรียนที่มีในหลักสูตร</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <div class="btn-group">
                                                                    <button type="button" class="btn btn-lg btn-success">ไม่เรียนสหกิจศึกษา</button>
                                                                    <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
                                                  <div class="dropdown-menu">
                                                                    <a class="dropdown-item" href="{% url 'student:Planner' %}">สำหรับนิสิตที่ไม่เรียนสหกิจศึกษา</a>
                                                                    <a class="dropdown-item" href="{% url 'student:Plannerco' %}">สำหรับนิสิตที่เรียนสหกิจศึกษา</a>
                                                                    
                                                  </div>
                                      </div>
        
      </ul>
     </div>
  </nav>


<div id="wrapper"><span class="label">Start</span>

<div class="branch lv1">
        
      <div class="entry"><span class="label">01204111</span>
            <div class="last lv2">
                
            </div>
        </div>
      <div class="entry"><span class="label">01417167</span>
            <div class="branch lv2">
                <div class="entry sole"><span class="label">01417168</span>
                    <div class="branch lv3">
                        <div class="entry"><span class="label">01417267</span>
                            <div class="branch lv4">
                                <div class="entry sole"><span class="label">....</span>
                                    <div class="branch lv5">
                                        <div class="entry sole"><span class="label">01208201</span>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="entry"><span class="label">01204312</span>
                            <div class="last lv3">
                                <div class="simple"><span class="label">01204371</span>
                                    <div class="last lv4">
                                        <div class="last lv5">
                                            <div class="last lv6">
                                                <div class="simple"><span class="label">01204399</span>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="entry"><span class="label">01420111</span> 
        <div class="branch lv2">
            <div class="entry sole"><span class="label">01420112</span>
                <div class="last lv3">
                    <div class="simple"><span class="label">01205211</span>
                        <div class="branch lv4">
                            <div class="entry sole"><span class="label">01205231</span>
                                <div class="branch lv4">
                                    <div class="entry sole"><span class="label">01205332</span>
                                        <div class="branch lv6">
                                            <div class="entry sole"><span class="label">...</span>
                                                <div class="branch lv7">
                                                    <div class="entry sole"><span class="label">01204437</span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div> 
            </div> 
        </div>
        </div>
      <div class="entry"><span class="label">01420113</span>
        <div class="branch lv2">
            <div class="entry sole"><span class="label">01420114</span>
                <div class="last lv3">
                    <div class="simple"><span class="label">01219211</span>
                        <div class="last lv4">
                            <div class="simple"><span class="label">01204214</span>
                                <div class="last lv5">
                                    <div class="last lv6">
                                        <div class="simple"><span class="label">01204322</span>
                                            <div class="branch lv7">
                                                <div class="entry sole"><span class="label">...</span>
                                                    <div class="branch lv8">
                                                        <div class="entry sole"><span class="label">01204491</span>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      <div class="entry"><span class="label">01999111</span>
        <div class="last lv2">
            <div class="simple"><span class="label">01208111</span></div>
            <div class="last lv3">
                <div class="simple"><span class="label">01204224</span>
                    <div class="last lv4">
                        <div class="simple"><span class="label">01204223</span>
                            <div class="last lv5">
                                <div class="simple"><span class="label">01204325</span>
                                    <div class="branch lv6">
                                        <div class="entry sole"><span class="label">01204421</span>
                                            <div class="last lv7">
                                                <div class="simple"><span class="label">01204495</span>
                                                    <div class="branch lv8">
                                                        <div class="entry sole"><span class="label">01204499</span>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
      <div class="entry"><span class="label">01999021</span>
            <div class="last lv2">
                <div class="simple"><span class="label">01403114</span>
                    <div class="last lv3">
                        <div class="simple"><span class="label">01204222 </span>
                            <div class="branch lv4">
                                <div class="entry sole"><span class="label">01204225</span>
                                    <div class="branch lv5">
                                        <div class="entry"><span class="label">01204332</span>
                                            <div class="last lv7">
                                                <div class="simple"><span class="label">01204391</span>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entry"><span class="label">01204324</span>
                                            <div class="last lv7">
                                                <div class="simple"><span class="label">01355xx</span>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="entry"><span class="label">01355xxx</span>
                <div class="last lv2">
                    <div class="simple"><span class="label">01403117</span>
                         <div class="last lv3">
                             <div class="simple"><span class="label">01204212</span>
                                <div class="branch lv4">
                                    <div class="entry"><span class="label">01204313</span></div>
                                    <div class="entry"><span class="label">01204351</span></div>
                                    <div class="entry"><span class="label">...</span>
                                        <div class="branch lv5">
                                            <div class="entry sole"><span class="label">01204341</span>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

        
            <div class="last lv2">
                <div class="simple"><span class="label">01175xxx </span>
                    <div class="last lv3">
                        <div class="simple"><span class="label">01204211</span>
                            <div class="branch lv4">
                                <div class="entry sole"><span class="label">...</span>
                                    <div class="branch lv5">
                                        <div class="entry sole"><span class="label">01204213</span>
                                        
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        

          
            <div class="last lv2">
                <div class="simple"><span class="label">01335xxx </span>
                    <div class="last lv3">
                        <div class="last lv4">
                            <div class="simple"><span class="label">01204271</span>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
<body>
{% endblock content %}