  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">เพิ่มรายวิชา (กำหนดเอง)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            
            <div class="form-group">
              <label for="formGroupExampleInput">รหัสวิชา</label>
              {{ form.subject }}
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">หน่วยกิต</label>
              <select  class="custom-select" id="credit" name="credit">
                <option value="1">1 </option>
                <option value="3">3 </option>
              </select>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">วันที่เรียน</label>
              <select  class="custom-select" id="addsubject_date" name="addsubject_date">
                <option value="จันทร์">จันทร์</option>
                <option value="อังคาร">อังคาร</option>
                <option value="พุธ">พุธ</option>
                <option value="พฤหัสบดี">พฤหัสบดี</option>
                <option value="ศุกร์">ศุกร์</option>
                <option value="เสาร์">เสาร์</option>
                <option value="อาทิตย์">อาทิตย์</option>
              </select>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">เริ่มเรียน</label>
              <select  class="custom-select" id="addsubject_startime" name="addsubject_startime">
                <option value="08:00">08:00 </option>
                <option value="08:30">08:30 </option>
                <option value="09:00">09:00 </option>
                <option value="09:30">09:30 </option>
                <option value="10:00">10:00 </option>
                <option value="10:30">10:30 </option>
                <option value="11:00">11:00 </option>
                <option value="11:30">11:30 </option>
                <option value="11:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option>
              </select>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">ถึง</label>
              <select  class="custom-select" id="addsubject_endtime" name="addsubject_endtime">
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="11:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-warning btn-lg " value="" style="float: center;">เพิ่มรายวิชา</button>
            </div>
          </form>
        </div>
    </div>
  </div>